<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_number" class="form-control" name="row[order_number]" type="text" value="{$row.order_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_name" class="form-control" name="row[client_name]" type="text" value="{$row.client_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_mobile" class="form-control" name="row[client_mobile]" type="text" value="{$row.client_mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Malfunction')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea  class="form-control" name="row[malfunction]" cols="30" rows="10">{$row.malfunction|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Factory')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-factory" class="form-control" name="row[factory]" type="text" value="{$row.factory|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buy_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buy_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[buy_date]" type="text" value="{:$row.buy_date?datetime($row.buy_date):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Car_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-car_code" class="form-control" name="row[car_code]" type="text" value="{$row.car_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Engine_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-engine_code" class="form-control" name="row[engine_code]" type="text" value="{$row.engine_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Emergency_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-emergency_address" class="form-control" name="row[emergency_address]" type="text" value="{$row.emergency_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Client_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-client_address" class="form-control" name="row[client_address]" type="text" value="{$row.client_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-order_remark" class="form-control" name="row[order_remark]" id="" cols="30" rows="10">{$row.order_remark|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-12 col-sm-8">
                {$radio}
            </div>


        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('创建时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="false" name="row[createtime]" type="text" value="{:$row.createtime?datetime($row.createtime):''}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('接单师傅')}:</label>
        <div class="col-xs-12 col-sm-8">
            {$userList}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('接单时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="false" name="row[jd_time]" type="text" value="{:$row.jd_time?datetime($row.jd_time):''}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('完成时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input  class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="false" name="row[wc_time]" type="text" value="{:$row.wc_time?datetime($row.wc_time):''}">
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
